.contImgHome {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.918);
}

.imgHome {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0; 
    position: absolute;
    transition-duration: 3s;
    transition-property: opacity;                             
    transition-timing-function: ease-out;
    animation-duration: 9s;                             /*Tiempo de zoom de cada imagen (en el .jsx el setTimeout de la funcion carousel tiene que ser 1 segundo menos si el tiempo de cambio de opacidad es 1s)*/
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    filter: grayscale(25%) contrast(90%) brightness(50%);
}

.imgHome1 {
    filter: grayscale(0) saturate(125%) contrast(80%) brightness(50%);
}

.imgContrast {
    filter: contrast(85%);
}

.zoomIn {
    opacity: 1 !important;
    animation-name: zoomIn !important;
}

.zoomOut {
    opacity: 0 !important;
}

@keyframes zoomIn {
    0% {
        transform: scale(100%);
    }
    100% {
        transform: scale(115%);
    }
}

@media only screen and (orientation: portrait) {

    .img3CarouselHome {
        object-position: bottom;
    }

    @keyframes zoomIn {
        0% {
            transform: scale(100%);
        }
        100% {
            transform: scale(150%);
        }
    }
}



