.seccionToWaitImages {
    opacity: 0;
}

.opacityOnCharge {
    animation-name: opacityOnCharge;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes opacityOnCharge {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
