.seccions {
    min-height: calc(100vh - var(--alto-bg-navbar));
    width: 100%;
    margin-top: var(--alto-bg-navbar);
    padding: var(--vertical-padding-seccions) var(--horizontal-padding-seccions); 
}

.displayOn {
    display: flex !important;
}

/*************************************************/

.OoS {
    opacity: 0;
}

.OoSS {
    animation-name: animationOfScroll; 
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes animationOfScroll {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*************************************************/

.opacityTransition035 {
    transition-property: opacity;
    transition-duration: 0.35s;
    transition-timing-function: ease-out;
}

/*************************************************/

.opacity1 {
    opacity: 1;
}

.opacity0 {
    opacity: 0 !important;
}

/******************* Boton 1 *******************/

.button1, .button2 {
    background-color: var(--color-web-1);
    border: none;
    padding: 1rem 2rem;
    margin-top: 3rem;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    min-width: 14rem;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease-out;
    outline: 1px solid transparent;
}

.button1:hover {
    outline: 1px solid var(--color-web-3);
}

.button2:hover {
    outline: 1px solid var(--color-web-2);
}

.button1Sign {
    display: inline-block;
    transform: scale(140%);
    margin-left: 1rem;
}

/***************** Sweetalert2 *******************/

.swal2-icon-content {
    color: #ff5e15;
}