.footerCont {
    padding: 2rem 0;
    position: relative;
    overflow: hidden;
    background-color: var(--color-bg-footer);
    border-top: 1px solid rgb(58, 58, 58);
    z-index: 60;
}

.footerBg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 50;
    filter: brightness(10%) contrast(90%);
}

.footerCont2 {
    height: 100%;
    z-index: 100;
}

.footerContIzq {
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 1rem;
}

.footerContDer {
    align-items: flex-start;
    border-left: 1px solid rgb(48, 48, 48);
    display: grid;
    grid-template-areas: "tel mail"
                         "ws loc"
                         "horario horario";
}

.footerDatosContPhone {
    grid-area: tel;
}

.footerDatosContMail {
    grid-area: mail;
}

.footerDatosContWs {
    grid-area: ws;
}

.footerDatosContLocation {
    grid-area: loc;
}

.footerDatosContSchedules {
    grid-area: horario;
}

.footerIcons {
    height: 1.25rem;
    margin-right: 0.50rem;
    margin-left: 0.5rem;
    align-self: flex-start;
}

.footerEmailIcon {
    height: 1rem;
}

.footerDatosCont {
    margin: 0.5rem 0;
    margin-left: 1rem;
    justify-content: flex-start;
}

.footerDatosContSchedules {
    grid-area: horario;
    justify-content: center;
}

.footerTextos {
    font-size: 16px;
    text-align: left;
}

.footerLogo {
    height: 6rem;
}

@media only screen and (orientation: portrait) {

    .footerCont {
        padding: 2rem 1rem;
    }

    .footerCont2 {
        flex-direction: column;
    }

    .footerDatosCont {
        margin: 0.75rem 0;
        margin-left: 0.50rem;
    }

    .footerLogo {
        height: 5rem;
    }

    .footerContDer {
        grid-template-areas: "tel"
                             "ws"
                             "mail"
                             "loc"
                             "horario";
        border-left: none;                     
    }

    .footerContIzq {
        width: 100%;
        justify-content: center;
        padding-right: 0;
        padding-bottom: 2rem;
        padding-top: 0.75rem;
    }

    .footerBg {
        position: absolute;
        width: 200%;
        height: 100%;
        top: 0;
        left: -20%;
        object-fit: cover;
        object-position: bottom;
    }

}