.slider1Cont {
    position: relative;
    min-height: calc(100vh - var(--alto-bg-navbar));
    width: 100%;
}

.slider1Img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(70%) contrast(95%);
}

.slider1TextoCont {
    max-width: 100%;
    padding: 0 var(--horizontal-padding-seccions);
    z-index: 100;
    margin: 4rem 0;
}

.slider1TextoCont p {
    text-align: center;
}

.slider1Texto1 {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 1rem;
}

.slider1Texto2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.slider1Texto3, .slider1Texto4 {
    width: 60rem;
    max-width: 100%;
    font-size: 1.1rem;
    line-height: 1.5;
}

.slider1Texto4 {
    display: none;
}

@media only screen and (orientation: portrait) {

    .slider1Texto1 {
        font-weight: 600;
    }
    
    .slider1Texto2 {
        font-size: 1.65rem;
        margin-bottom: 2rem;
    }

    .slider1Texto3 {
        display: none;
    }

    .slider1Texto4 {
        display: flex;
        font-size: var(--font-size-normal-portrait);
    } 

    .slider1Img {
        object-position: left;
        filter: brightness(60%) contrast(95%);
    }
}